<nav class="navbar navbar-default navbar-fixed-top animated fadeInDown">
	<div class="container">
    
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        
        <div id="navbar" class="navbar-collapse collapse">
        	<ul class="nav navbar-nav">
            	<li class="page-scroll"><a href="#page-top">{{$ctrl.navbar.link1}}</a></li>
                <li class="page-scroll"><a href="#first">{{$ctrl.navbar.link2}}</a></li>
                <li class="page-scroll"><a href="#second">{{$ctrl.navbar.link3}}</a></li>
                <li class="page-scroll"><a href="#third">{{$ctrl.navbar.link4}}</a></li>
            </ul>
        </div>
    </div>
</nav> 